@*@model OnlineShop.Models.Product

    @{
        ViewData["Title"] = "Details";
    }

    <h1>Details</h1>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@

@model OnlineShop.Models.DetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.imgsrc)" />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.product.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.product.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.product.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.product.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
